<%- include('../partials/header/header.ejs') %>

    <body>
        <div class="container-scroller">
            <!-- partial:../partials/_navbar.html -->
            <%- include('../partials/navbar/navbar.ejs') %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <%- /* include('../partials/sidebar/right-sidebar.ejs'); */ %>
                        <!-- partial -->
                        <!-- partial:../partials/_sidebar.html -->
                        <%- include('../partials/sidebar/sidebar.ejs') %>
                            <!-- partial -->
                            <div class="main-panel">
                                <div class="content-wrapper">
                                    <div class="row">
                                        <div class="col-md-12 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 col-xl-8 mb-1 mb-xl-3">
                                                            <h3 class="font-weight-bold">Requests Status</h3>
                                                        </div>
                                                    </div>
                                                    <% if(userFormRequests && userFormRequests.filter(reqForm=> ['approved', 'process'].includes(reqForm.status))) { %>
                                                        <div class="row align-items-center justify-content-center">
                                                            <div class="col-xl-12 ">
                                                                <div class="row justify-content-between">
                                                                    <div class="col-12 col-md-6 col-xl-5 mt-2">
                                                                        <div
                                                                            class="input-group justify-content-center align-items-center">
                                                                            <h5 class="mr-1">Search:</h5>
                                                                            <input type="text"
                                                                                class="form-control d-flex"
                                                                                name="searchFullnamerequest"
                                                                                id="searchFullname"
                                                                                placeholder="Search Name"
                                                                                aria-label="search"
                                                                                aria-describedby="search" autocomplete="off">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="table-responsive text mt-5">
                                                            <table id="searchFullnamerequestTable"
                                                                class="table table-bordered expandable-table no-footer">
                                                                <thead>
                                                                    <tr class="text-center">
                                                                        <th>Fullname</th>
                                                                        <th>Purpose</th>
                                                                        <th>Created</th>
                                                                        <th>Remark</th>
                                                                        <th>Status</th>
                                                                        <th>Admin Approved</th>
                                                                        <th>Supply Approved</th>
                                                                        <th>Actions</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% userFormRequests.forEach(({ reqForm, user })=> { %>
                                                                        <% if( reqForm.status==='process' ) {%>
                                                                            <tr class="text-center">
                                                                                <td>
                                                                                    <%= user.fullname %>
                                                                                </td>
                                                                                <td>
                                                                                    <button type="button"
                                                                                        class="btn btn-info"
                                                                                        data-toggle="modal"
                                                                                        data-target="#modal<%= reqForm._id %>">
                                                                                        View Purpose
                                                                                    </button>
                                                                                </td>
                                                                                <td>
                                                                                    <%= reqForm.dateCreated %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= reqForm.remark %>
                                                                                </td>
                                                                                <td><label
                                                                                        class="badge badge-<%= reqForm.status %> text-capitalize">
                                                                                        <%= reqForm.status %>
                                                                                    </label></td>
                                                                                <td>
                                                                                    <%= reqForm.adminApproved %>
                                                                                </td>
                                                                                <%if(reqForm.supplyApproved) {%>
                                                                                    <td>
                                                                                        <%= reqForm.supplyApproved %>
                                                                                    </td>
                                                                                    <% }else{ %>
                                                                                        <td>Wating for Supply Approval
                                                                                        </td>
                                                                                        <% } %>
                                                                                            <td>
                                                                                                <form
                                                                                                    action="/supply/cancel"
                                                                                                    method="post">
                                                                                                    <input type="hidden"
                                                                                                        name="reqFormId"
                                                                                                        value="<%= reqForm._id %>">
                                                                                                    <div
                                                                                                        class="btn-group">
                                                                                                        <button
                                                                                                            type="button"
                                                                                                            class="btn btn-info p-2"
                                                                                                            data-toggle="modal"
                                                                                                            data-target="#modalCompleted<%= reqForm._id %>"
                                                                                                            title="Completed">
                                                                                                            <i class="mdi mdi-bookmark-check"
                                                                                                                style="font-size: 20px;"></i>
                                                                                                        </button>
                                                                                                        <button
                                                                                                            type="submit"
                                                                                                            class="btn btn-danger p-2"
                                                                                                            title="Cancel">
                                                                                                            <i class="mdi mdi-bookmark-remove"
                                                                                                                style="font-size: 20px;"></i>
                                                                                                        </button>
                                                                                                    </div>
                                                                                                </form>
                                                                                            </td>
                                                                            </tr>
                                                                            <% } %>
                                                                                <% }); %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <% }else{ %>
                                                            <p>No Request has been approved.</p>
                                                            <% } %>

                                                                <% userFormRequests.forEach(({ reqForm, user })=> { %>
                                                                    <% if(reqForm.status==='process' ) {%>
                                                                        <div class="modal fade"
                                                                            id="modalCompleted<%= reqForm._id %>"
                                                                            data-backdrop="static" data-keyboard="false"
                                                                            tabindex="-1"
                                                                            aria-labelledby="staticBackdropLabel"
                                                                            aria-hidden="true">
                                                                            <div
                                                                                class="modal-dialog modal-dialog-scrollable">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h4 class="modal-title"
                                                                                            id="staticBackdropLabel">
                                                                                            Complete</h4>
                                                                                    </div>
                                                                                    <form action="/supply/completed"
                                                                                        method="post">
                                                                                        <div
                                                                                            class="modal-body text-justify">
                                                                                            <div class="form-group">
                                                                                                <input type="hidden"
                                                                                                    name="reqFormId"
                                                                                                    value="<%= reqForm._id %>">
                                                                                                <label
                                                                                                    for="dropdownMenuButtonRemark"
                                                                                                    class="font-weight-bold required">Remark</label>
                                                                                                <div class="dropdown"
                                                                                                    id="dropdowncompleted<%= reqForm._id %>">
                                                                                                    <input type="text"
                                                                                                        class="form-control dropdown-toggle"
                                                                                                        id="dropdownMenuButtonRemark"
                                                                                                        name="remark"
                                                                                                        data-toggle="dropdown"
                                                                                                        aria-haspopup="true"
                                                                                                        aria-expanded="false"
                                                                                                        placeholder="Select an option"
                                                                                                        autocomplete="off"
                                                                                                        required>
                                                                                                    <div
                                                                                                        class="dropdown-menu">
                                                                                                        <div class="dropdown-item">Items for Release</div>
                                                                                                        <div class="dropdown-item">Items Delivered, lacking</div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <br />
                                                                                            <br />
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button"
                                                                                                class="btn btn-secondary text-white"
                                                                                                data-dismiss="modal">Cancel</button>
                                                                                            <button type="submit"
                                                                                                class="btn btn-info">Complete</button>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                            <% }); %>
                                                </div>

                                                <!-- modal start -->
                                                <% userFormRequests.forEach(({ reqForm, user })=> { %>
                                                    <% if( reqForm.status==='process' ) {%>
                                                        <div class="modal fade" id="modal<%= reqForm._id %>"
                                                            data-keyboard="false" tabindex="-1"
                                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-scrollable">
                                                                <div class="modal-content">
                                                                    <h3 class="modal-title text-center p-3"
                                                                        id="staticBackdropLabel">Purpose</h3>
                                                                    <hr
                                                                        style="margin-top:5px; margin-bottom:2px; height:1px; width:100%; border-top:1px solid gray;" />
                                                                    <div class="modal-body text-justify">
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;<%= reqForm.purpose %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                            <% }); %>
                                            </div>
                                        </div>
                                        <!-- This is for status declined && completed -->
                                        <% if(userFormRequests && userFormRequests.filter(reqForm=> ['completed', 'declined'].includes(reqForm.reqForm.status)).length > 0) { %>
                                            <div class="col-md-12 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12 col-md-6 col-xl-8 mb-1 mb-xl-3">
                                                                <h3 class="font-weight-bold">Finalized Status</h3>
                                                            </div>
                                                        </div>
                                                        <div class="row align-items-center justify-content-center">
                                                            <div class="col-xl-12 ">
                                                                <div class="row justify-content-between">
                                                                    <div class="col-12 col-md-6 col-xl-5 mt-2">
                                                                        <div
                                                                            class="input-group justify-content-center align-items-center">
                                                                            <h5 class="mr-1">Search:</h5>
                                                                            <input type="date"
                                                                                class="form-control" name="name"
                                                                                id="search-request-date"
                                                                                placeholder="Search Date"
                                                                                aria-label="search" style="letter-spacing: 3px;"
                                                                                aria-describedby="search">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="table-responsive text mt-5">
                                                            <table
                                                                class="table table-bordered expandable-table no-footer">
                                                                <thead>
                                                                    <tr class="text-center">
                                                                        <th>Fullname</th>
                                                                        <th>Purpose</th>
                                                                        <th>Created</th>
                                                                        <th>Remark</th>
                                                                        <th>Status</th>
                                                                        <th>Admin</th>
                                                                        <th>Supply</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% userFormRequests.forEach(({ reqForm, user })=> { %>
                                                                        <% if(reqForm.status==='completed' || reqForm.status==='declined' ) {%>
                                                                            <tr class="text-center">
                                                                                <td>
                                                                                    <%= user.fullname %>
                                                                                </td>
                                                                                <td>
                                                                                    <button type="button"
                                                                                        class="btn btn-info"
                                                                                        data-toggle="modal"
                                                                                        data-target="#modal<%= reqForm._id %>">
                                                                                        View Purpose
                                                                                    </button>
                                                                                </td>
                                                                                <td>
                                                                                    <%= reqForm.dateCreated %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= reqForm.remark %>
                                                                                </td>
                                                                                <td><label
                                                                                        class="badge badge-<%= reqForm.status %> text-capitalize">
                                                                                        <%= reqForm.status %>
                                                                                    </label></td>
                                                                                <% if(reqForm.adminDeclined && reqForm.adminDeclined !=='' ) {%>
                                                                                    <td>Declined: <%= reqForm.adminDeclined %>
                                                                                    </td>
                                                                                <% } else if(reqForm.adminApproved || reqForm.adminApproved !=='' ){ %>
                                                                                    <td>Approved: <%= reqForm.adminApproved %> </td>
                                                                                <% } else{ %>
                                                                                    <td class="text-center">N/A</td>
                                                                                <% } %>
                                                                                <% if(reqForm.supplyDeclined && reqForm.supplyDeclined !=='' ) {%>
                                                                                    <td>Declined: <%= reqForm.supplyDeclined %> </td>
                                                                                <% } else if(reqForm.supplyApproved && reqForm.supplyApproved !=='' ) {%>
                                                                                    <td>Approved: <%= reqForm.supplyApproved %> </td>
                                                                                <% } else{ %>
                                                                                    <td class="text-center">N/A</td>
                                                                                <% } %>
                                                                            </tr>
                                                                            <% } %>
                                                                                <% }); %>
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                    </div>
                                                    
                                                    <% userFormRequests.forEach(({ reqForm, user })=> { %>
                                                        <% if(reqForm.status==='completed' || reqForm.status==='declined' ) {%>
                                                            <div class="modal fade" id="modal<%= reqForm._id %>"
                                                                data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <h3 class="modal-title text-center p-3"
                                                                            id="staticBackdropLabel">Purpose</h3>
                                                                        <hr
                                                                            style="margin-top:5px; margin-bottom:2px; height:1px; width:100%; border-top:1px solid gray;" />
                                                                        <div class="modal-body text-justify">
                                                                            <%= reqForm.purpose %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                                        <% }); %>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <!-- content-wrapper ends -->

                                <%- include('../partials/copyright/copyright.ejs'); %>
                            </div>
                            <!-- main-panel ends -->
                </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const modals = document.querySelectorAll('[id^="modalCompleted"]');

                modals.forEach(function (modal) {
                    const reqFormId = modal.id.replace("modalCompleted", "");

                    const dropdown = modal.querySelector('#dropdowncompleted' + reqFormId);
                    const dropdownToggle = dropdown.querySelector('.dropdown-toggle');
                    const dropdownMenu = dropdown.querySelector('.dropdown-menu');

                    dropdownMenu.addEventListener('click', function (event) {
                        if (event.target.classList.contains('dropdown-item')) {
                            dropdownToggle.value = event.target.textContent.trim();
                        }
                    });

                    document.addEventListener('click', function (event) {
                        if (!event.target.matches('.dropdown-toggle')) {
                            dropdownMenu.classList.remove('show');
                        }
                    });
                });
            });
            //for search input
            document.addEventListener('DOMContentLoaded', function () {
                const searchInput = document.getElementById('searchFullnamerequest');
                const deceasedRows = document.querySelectorAll('#searchFullnamerequestTable tbody tr');

                searchInput.addEventListener('input', function () {
                    const searchQuery = this.value.trim().toLowerCase();

                    deceasedRows.forEach(row => {
                        const fullName = row.querySelector('td:first-child').textContent.trim().toLowerCase();

                        if (fullName.includes(searchQuery)) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            });
        </script>
        <%- include('./../partials/footer/footer.ejs') %>