<%- include('../partials/header/header.ejs') %>

  <body>
    <div class="container-scroller">
      <!-- partial:../partials/_navbar.html -->
      <%- include('../partials/navbar/navbar.ejs') %>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <%- /* include('../partials/sidebar/right-sidebar.ejs'); */ %>
          <!-- partial -->
          <!-- partial:../partials/_sidebar.html -->
          <%- include('../partials/sidebar/sidebar.ejs') %>
            <!-- partial -->
            <div class="main-panel">
              <div class="content-wrapper">
                    <div class="row">
                      <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12 col-md-6 col-xl-8 mb-1 mb-xl-3">
                                <h3 class="font-weight-bold">Requests Status</h3>
                              </div>
                            </div>
                            <% if(userFormRequests && userFormRequests.filter(reqForm => ['completed', 'declined'].includes(reqForm.status))) { %>
                            <div class="row align-items-center justify-content-center">
                              <div class="col-xl-12 ">
                                <div class="row justify-content-between">
                                  <div class="col-8 col-md-6 col-xl-5 mt-2">
                                    <div class="input-group justify-content-center align-items-center">
                                      <h5 class="mr-1">Search:</h5>
                                      <input type="text" class="form-control d-flex" name="searchFullnamerequestq"
                                        id="searchFullnamerequestq" placeholder="Search Name" aria-label="search"
                                        aria-describedby="search" autocomplete="off">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive text mt-5">
                              <table id="searchFullnamerequesttableq" class="table table-bordered expandable-table no-footer">
                                <thead>
                                  <tr class="text-center">
                                    <th>Fullname</th>
                                    <th>Purpose</th>
                                    <th>Created</th>
                                    <th>Remark</th>
                                    <th>Status</th>
                                    <th>Admin Approved</th>
                                    <th>Supply Approved</th>
                                    <th>Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% userFormRequests.forEach(({ reqForm, user })=> { %>
                                      <% if(reqForm.status === 'completed' || reqForm.status === 'declined') {%>
                                  <tr class="text-center">
                                    <td><%= user.fullname %></td>
                                    <td>
                                      <button type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#modal<%= reqForm._id %>">
                                        View Purpose
                                      </button>
                                    </td>
                                    <td><%= reqForm.dateCreated %></td>
                                    <td><%= reqForm.remark %></td>
                                    <td><label class="badge badge-<%= reqForm.status %> text-capitalize"><%= reqForm.status %></label></td>
                                    <td><%= reqForm.adminApproved %></td>
                                    <%if(reqForm.supplyApproved) {%>
                                      <td><%= reqForm.supplyApproved %></td>
                                    <% }else{ %>
                                      <td>Wating for Supply Approval</td>
                                    <% } %>
                                        <td class="text-success text-center">
                                            <form action="/requests/finalized/delete" method="post">
                                              <input type="hidden" name="reqId" id="reqId"
                                                value="<%= reqForm._id %>">
                                              <button type="submit" class="btn btn-danger p-2" title="Delete">
                                                <i class="mdi mdi-delete"></i>
                                              </button>
                                          </form>
                                        </td>
                                  </tr>
                                  <% } %>
                                    <% }); %>
                                </tbody>
                              </table>
                            </div>
                            <% }else{ %>
                              <p>No Request has been approved.</p>
                              <% } %>
                          </div>
                          <!-- modal start -->
                          <% userFormRequests.forEach(({ reqForm, user })=> { %>
                            <% if(reqForm.status === 'completed' || reqForm.status === 'declined') {%>
                          <div class="modal fade" id="modal<%= reqForm._id %>" data-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                              <div class="modal-content">
                                <h3 class="modal-title text-center p-3" id="staticBackdropLabel">Purpose</h3> <hr style="margin-top:5px; margin-bottom:2px; height:1px; width:100%; border-top:1px solid gray;"/>
                                <div class="modal-body text-justify">
                                  &nbsp;&nbsp;&nbsp;&nbsp;<%= reqForm.purpose %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% } %>
                          <% }); %>
                        </div>
                      </div>
                     
                    </div>
              </div>
              <!-- content-wrapper ends -->

              <%- include('../partials/copyright/copyright.ejs'); %>
            </div>
            <!-- main-panel ends -->
        </div>
    </div>
    
    <script>
      //for search input
      document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchFullnamerequestq');
            const deceasedRows = document.querySelectorAll('#searchFullnamerequesttableq tbody tr');
        
            searchInput.addEventListener('input', function() {
                const searchQuery = this.value.trim().toLowerCase();
        
                deceasedRows.forEach(row => {
                    const fullName = row.querySelector('td:first-child').textContent.trim().toLowerCase();
        
                    if (fullName.includes(searchQuery)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        });
    </script>
    <%- include('./../partials/footer/footer.ejs') %>